<footer class="footer block block--dark">
  <div class="container grid footer__container">
    <article class="footer__item collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </header>

      <section class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </section>
    </article>

    <article class="footer__item collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </header>

      <section class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </section>
    </article>

    <article class="footer__item collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </header>

      <section class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </section>
    </article>

    <article class="footer__item collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </header>

      <section class="collapsible__content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </section>
    </article>

    <article class="footer__brand">
      <a href="#"><img src="images/logo.svg"
          alt="" /></a>
      <p class="footer__copyright">Copyright &copy; 2022 YC</p>
    </article>
  </div>
</footer>