<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="hero__content block__header">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">Deploy your websites in less than 60 seconds</p>
      <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
    </header>

    <div class="hero__image">
      <picture>
        <source
          type="image/webp"
          srcset="images/banner@1x.webp 1x, images/banner@2x.webp 2x"
        />

        <source
          type="image/png"
          srcset="images/banner@1x.png 1x, images/banner@2x.png 2x"
        />
        <img class="" src="images/banner@1x.png" alt="" />
      </picture>
    </div>
  </div>
</section>
